<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Quote</title>
</head>
<body>
    <a href="{% url 'home' %}" role="button">Back</a>
    <a href="{% url 'logout' %}" role="button">Logout</a>
    <h2>{{ poster.first_name }} {{ poster.last_name }}'s Quotes</h2>
    {% for quote in quotes %}
        {% if poster == quote.posted_by %}
        <p>{{ quote.author.name }}</p>
        <p>"{{ quote.content }}</p>
        {% endif %}
        <p>_____________________________________</p>
    {% endfor %}
    </body>
</html>